<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{{ assets }}}

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <script>
      var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","pageview","ab"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])},
      analytics.load("5jjuqt114z");
    </script>
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{{ site.title }}: {{ site.tagline }}</a>
          <ul class="nav">
            {{# site.navigation?to_pages }}
              {{> pages_list }}
            {{/ site.navigation?to_pages }}
          </ul>
          <div class="social-nav pull-right">
            <a onclick="analytics.track('Clicked Github Link')" class="github-btn" href="http://github.com/{{ site.author.github }}" title="My Github Account"><i class="icon-github"></i></a>
            <a onclick="analytics.track('Clicked Twitter Link')" class="twitter-btn" href="http://twitter.com/{{ site.author.twitter }}" title="My Twitter Account"><i class="icon-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{{ content }}}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012
          with help from <a class="ruhoh-btn" href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
          and <a class="bootstrap-btn" href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    {{{ google_prettify }}}
  </body>
</html>
